.contact{
  margin: 0 auto;
}

.contact__container {
  max-width: 600px;
  min-width: 400px;
}

.contact__title {
  padding: 15px 0px;
  border-bottom: 1px solid #000000;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
}

.form {
  padding: 10px;
}

.form__buttons {
  display: flex;
  align-content: space-around;
  justify-content: center;
}

.form-control {
  padding: 10px;
  display: flex;
  align-items: center;
}

input{
  margin-left: 10px;
  border: 1px solid #000000;
  padding: 5px;
  border-radius: 5px;
  background-color: #e8f0ff;
  font-size: 14px;
  width: 200px;
}

label{
  display: inline-block;
  width: 60px;
  font-size: 15px;
  font-weight: 600;
}

button {
  margin: 0px 10px 0px 10px;
  background-color: #C2EBD5;
  color: black;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  font-size: 15px;
  line-height: 15px;
  text-transform: uppercase;
}
button:hover{
  background-color: #1D7C4D;
  color: white;
}

.form-control.error input{
  border-color: red;
}
